.footer
  .f-nav
    %ul
      %li1 新着一覧
      %li2　トピック一覧
      %li3　ストーリー掲載企業一覧
    %ul
      %li4 よくある質問
      %li5　PR Tableについて 
      %li6　利用規約
      %li7 プライバシーポ゚リシー
      %li8 運営会社
      %li9 お問い合わせ
      %li10 PR Table Labo
  .social-icon
    %ul
      %li11 
        %i.fa.fa-facebook
      %li12
        %i.fa.fa-twitter
      %li13
        %i.fa.fa-rss
