.pickup-2stories
  .story1
    = image_tag("https://www.pr-table.com/upimgs/story_images/3238/large/d06db80f88db01b294fd2759ef368b3458725d9b.jpg?1496725560")
    .title
      %titlefigure
        .company-img
          = image_tag("https://www.pr-table.com/upimgs/profile_images/837/medium/62c4227a6bb759189299b61730c2737339e6bf94.png?1495672896")
        %titlefigucuption 竜宮株式会社
        %titlestrong　時代の変化、幾度の事業転換……それでも70年の歴史と技術が“夢の寝具”を完成させた
  .story2
    = image_tag("https://www.pr-table.com/upimgs/story_images/3109/large/945dfe1db25c33b42f16a8496ecc8b6f00e15202.jpg?1494579036")
    .title
      %titlefigure
        .company-img
          = image_tag("https://www.pr-table.com/upimgs/profile_images/16/medium/51456a632555c2aeb7452560e9017d17c0b7d754.jpg?1442547187")
        %titlefigucuption Sansan株式会社
        %titlestrong　“Sansan Innovation Project 2017”——Sansanが伝えた「働き方進化論」  