.body
  .header
    .global-header
      .logo
      .g-nav
        .ul
          .li
          .li
      .buttons
        .create
        .login
        .search
  .p-stories
    .pickup-2stories
      .story1
      .story2

  .container
    .left-contents
      .stories
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
        .stories-article
      .more
    .side-contents
      .side-stories
      .side-tags
      .side-companylist
      .side-banner

  .footer-wrapper