.header
  .global-header
.p-stories
  .pickup-2stories

.container
  .left-contents
    .stories
    .more
  .side-contents
    .side-stories
    .side-tags
    .side-companylist
    .side-banner

.footer-wrapper