.body
  .header
    .global-header
      .logo
      .g-nav
        .ul
          .li
          .li
      .buttons
        .create
        .login
        .search

  .breadcrumbs

  .container-new
    .contents-new
      .story-new
        .author
        .h1 Sansan Innovation Project 2017”——Sansanが伝えた「働き方進化論」
        .intro Sansan株式会社は、2017年2月2日、プライベートカンファレンス「Sansan Innovation Project 2017 働き方進化論」を東京で開催しました。昨年に続き2回目の開催となった今年は、約4,200名の方々にご参加いただきました。この日、当社は何を伝えたのか――その背景とメッセージをご紹介します。
        .socials
        .topics
          .h2 SansanProjectとは
          .img
          .topics-body
        .topics
          .h2
          .img
          .topics-body
        .topics
          .h2
          .img
          .topics-body
        .topics
          .h2
          .img
          .topics-body
        .story-footer
        .relative-story
        .notice-story

  .footer-wrapper
