.top
  .header
    .global-header
      .logo
      .g-nav
        .ul
          .li
          .li
      .buttons
        .create
        .login
        .search
  .login-container
    .single-form
      .login-h1
      .login-box
        .input
        .input
        .action-button
        .small-box
  .footer-wrapper
